.content {
  background-color: #fff;
}
.addBox {
	width: 80%;
	min-height: 200px;
	margin: 50px auto;
}
.one-level {
	border-bottom: 1px dotted #ddd;
}
.addBox p {
	font-size: 20px;
	font-family: "微软雅黑";
}
.addBox form {
	margin: 20px auto;
	width: 80%;
}
.addBox .form-group {
	margin-top: 20px;
	clear: both;
}
.addBox .form-group input {
	width: 400px;
	height: 30px;
}
#firstAdd,#secondAdd {
	border:none;
	background-color: #96BF48;
    width: 120px;
	height: 33px;
    border-radius: 5px;
    color:#fff;
    float: right;
}
.listTitle {
	font-size: 15px;
	margin-left: 45px;
}
.list {
	list-style: none;
	margin-bottom: 20px;
	overflow: hidden;
}
.list li {
	display: inline-block;
	float: left;
	margin: 10px 20px;
}